Assignment1/decision_tree/criterion_groundtruth.py
Assignment1/classification/accuracy_error_groundtruth.py
Assignment1/classification/evaluation_metrics_grountruth.py
Assignment1/k_nerest_neighbors/knn_groundtruth.py
classification.pptx
__pycache__/
output/